<html>

<head>
	<title> My First Webpage </title>

	<style>
	h1 {
		color: blue;
		font-family:verdana;
		font-size: 300%;
		}
	button {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		}
		a:link {
			color: red;
			background-color: transparent;
			text-decoration: none;
		}
	</style>

	</head>

	<body style="background-color:silver">
	<center><h1>KNOCK KNOCK JOKES</h1><center>

	<center><button id="button" type="button" >Click here for a joke.</button><center>

	<p id="joke"></p>

	<script src="static/js/main.js"></script>


</body>


</html>
